@use '../../styles' as *;

.Portfolio {
  &_projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px;
    margin-top: 40px;

    @include breakpoint(lg) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint(sm) {
      grid-template-columns: 1fr;
    }
  }

  &___animate {
    > div {
      &:nth-of-type(1){
        animation: zoomIn 0.5s ease-in-out;
      }

      &:nth-of-type(2){
        animation: zoomIn 1s ease-in-out;
      }

      &:nth-of-type(3){
        animation: zoomIn 1.5s ease-in-out;
      }

      &:nth-of-type(4){
        animation: zoomIn 2s ease-in-out;
      }
      &:nth-of-type(5){
        animation: zoomIn 2.5s ease-in-out;
      }
    }
   
  }
}