@use '../../styles' as *;

.ProjectListsCard {
  align-items: center;
  background-color: $gray-200;
  border: none;
  box-shadow: $shadow-raised;
  display: flex;
  flex-direction: column;
  padding: 24px 24px 24px 24px;
  text-align: center;

  &_image {
    margin: -1.5rem -2.5rem 0 -2.5rem;
    margin: -1.5rem 1.5rem 0 1.5rem;
    width: calc(100% + 3rem);
  }
  &_title {
    padding: 20px 0 12px 0;
  }

  &_detail {
    margin-bottom: 16px;
    
    @include breakpoint(xs) {
      font-size: 14px;
    }
  }

  &_tools {
    margin-bottom: 32px;
    @include flex-between;
    
    &_tool {
      border-radius: 16px;
      color: $neutral-0;
      margin-right: 8px;
      padding: 8px;
    }
  }

  &_button {
    margin-top: auto;
  }

  &___HTML {
    background-color: #dd4b25;
  }

  &___JAVASCRIPT {
    background-color: #cab812;
  }

  &___CSS {
    background-color: #2862e9;
  }

  &___REACT {
    background-color: #48aeca;
  }

  &___SASS {
    background-color: #c76494;
  }
}