@use '../../styles' as *;

.ProjectListsCard {
  align-items: center;
  background-color: $gray-200;
  border: none;
  box-shadow: $shadow-normal;
  display: flex;
  flex-direction: column;
  padding: 24px 24px 24px 24px;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  margin-bottom: 40px;
  opacity: 0.6;
  cursor: pointer;

  &:hover {
    box-shadow: $shadow-raised;
    opacity: 1;
    transform: scale(1.03);
    z-index: 1;

    .ProjectListsCard_details {
      top: 94%;
      opacity: 1;
    }
  }

  &_image {
    margin: -1.5rem 1.5rem 0 1.5rem;
    width: calc(100% + 3rem);
  }
  &_title {
    padding-top: 20px;
  }

  &_details {
    border-radius: 0 0 16px 16px;
    position: absolute;
    top: calc(100% - 70px);
    background-color: $gray-200;
    padding: 0 24px 24px 24px;
    transition: all .3s ease-in-out;
    opacity: 0;
    z-index: 1;
  }

  &_detail {
    margin-bottom: 16px;
    
    @include breakpoint(xs) {
      font-size: 14px;
    }
  }

  &_tools {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    
    &_tool {
      border-radius: 16px;
      color: $neutral-0;
      margin-right: 8px;
      padding: 8px;
    }
  }

  &_button {
    margin-top: auto;
  }

  &___orange {
    background-color: #dd4b25;
  }

  &___yellow {
    background-color: #cab812;
  }

  &___blue {
    background-color: #2862e9;
  }

  &___lightBlue {
    background-color: #48aeca;
  }

  &___pink {
    background-color: #c76494;
  }

  &___violet {
    background-color: #37008c;
  }

  &___green {
    background-color: #00935b;
  }

  &___lightOrange {
    background-color: #d06f30;
  }

  &___black {
    background-color: $black-500;
  }
}