@use '../../styles' as *;

.Hero {
  height: 120vh;
  padding-top: 60px;
  
  @include breakpoint(md) {
    height: 100vh;
    @include flex-center;
  }

  &_container {
    @include flex-between;
    position: relative;
  }

  &_details {
    @include breakpoint(md) {
      display: grid;
      gap: 8px;
      text-align: center;
    }

    &_span {
      border-bottom: 4px solid $green-100;
      padding-bottom: 4px;

      @include breakpoint(xs) {
        border-bottom: 2px solid $green-100;
      }
    }

    &_icons {
      padding-right: 12px;
    }

    &_socials {
      display: flex;
      margin-top: 28px;

      @include breakpoint(md) {
        justify-content: center;
        margin-top: 40px;
      }

      @include breakpoint(xs) {
        margin-top: 28px;
      }

      &_icon {
        height: 52px !important;
        width: 52px !important;

        @include breakpoint(lg) {
          height: 44px !important;
          width: 44px !important;
        }
        
        @include breakpoint(xs) {
          height: 36px !important;
          width: 36px !important;
        }

        &:hover {
          >div {
            >svg {
              >g {
                &:nth-of-type(3) {
                  fill: $green-100 !important;
                }
              }
            }
          }
        }
      }
    }
  }

  &_image {
    @include breakpoint(md) {
      display: none;
    }
  }
}