@use '../../styles' as *;

.Hero {
  padding-top: 60px;
  
  @include breakpoint(md) {
    height: 100vh;
    @include flex-center;

    &::before {
      animation: fadeIn2 1s ease-in-out;
      background: url('../../static/images/profiles/profile-pic1.png');
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      content: '';
      left: 35%;
      position: absolute;
      right: 0;
      top: 50px;
      z-index: -1;
      opacity: 0.3;

      @include breakpoint(xs) {
        left: 0;
      }
    }
  }

  &_container {
    @include flex-between;
    position: relative;
  }

  &_details {
    animation: slideRightFade 0.5s ease-in-out;

    @include breakpoint(md) {
      display: grid;
      gap: 8px;
      text-align: center;
      animation: fadeIn 1s ease-in-out;
    }

    &_description {
      font-size: 22px;

      @include breakpoint(sm) {
        @include body(0.875rem, 1.5);
      }
    }

    &_name {
      overflow: hidden; 
      border-right: 4px solid $green-100; 
      white-space: nowrap;
      margin: 0 auto; 
      animation: typing 2s steps(40, end), blinkCaret .75s step-end infinite;
    }

    &_span {
      border-bottom: 4px solid $green-100;
      padding-bottom: 4px;

      @include breakpoint(xs) {
        border-bottom: 2px solid $green-100;
        padding-bottom: 2px;
      }
    }

    &_icons {
      padding-right: 12px;
    }

    &_socials {
      display: flex;
      margin-top: 28px;

      @include breakpoint(md) {
        justify-content: center;
        margin-top: 40px;
      }

      @include breakpoint(xs) {
        margin-top: 28px;
      }

      &_icon {
        height: 52px !important;
        width: 52px !important;

        @include breakpoint(lg) {
          height: 44px !important;
          width: 44px !important;
        }
        
        @include breakpoint(xs) {
          height: 36px !important;
          width: 36px !important;
        }

        &:hover {
          animation: bounce 1s ease-in-out;

          >div {
            >svg {
              >g {
                &:nth-of-type(3) {
                  fill: $green-100 !important;
                }
              }
            }
          }
        }
      }
    }
  }

  &_image {
    animation: slideLefttFade 0.5s ease-in-out;

    @include breakpoint(md) {
      display: none;
    }
  }
}