@use '../../styles' as *;

.Hero {
  padding-top: 60px;
  
  @include breakpoint(md) {
    height: 100vh;
    @include flex-center;

    &::before {
      background: url('../../static/images/profiles/profile-pic.webp');
      background-repeat: no-repeat;
      background-size: 320px 550px;
      bottom: 0;
      content: '';
      left: 35%;
      position: absolute;
      right: 0;
      top: 50px;
      z-index: -1;
      opacity: 0.3;
     
    }
  }

  &_container {
    @include flex-between;
    position: relative;
  }

  &_details {
    @include breakpoint(md) {
      display: grid;
      gap: 8px;
      text-align: center;
    }

    &_span {
      border-bottom: 4px solid $green-100;
      padding-bottom: 4px;

      @include breakpoint(xs) {
        border-bottom: 2px solid $green-100;
        padding-bottom: 2px;
      }
    }

    &_icons {
      padding-right: 12px;
    }

    &_socials {
      display: flex;
      margin-top: 28px;

      @include breakpoint(md) {
        justify-content: center;
        margin-top: 40px;
      }

      @include breakpoint(xs) {
        margin-top: 28px;
      }

      &_icon {
        height: 52px !important;
        width: 52px !important;

        @include breakpoint(lg) {
          height: 44px !important;
          width: 44px !important;
        }
        
        @include breakpoint(xs) {
          height: 36px !important;
          width: 36px !important;
        }

        &:hover {
          >div {
            >svg {
              >g {
                &:nth-of-type(3) {
                  fill: $green-100 !important;
                }
              }
            }
          }
        }
      }
    }
  }

  &_image {
    @include breakpoint(md) {
      display: none;
    }
  }
}