/* The typewriter cursor effect */
@keyframes blinkCaret {
  from, to { border-color: transparent }
  50% { border-color: #00c896; }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-30px);} 
  60% {transform: translateY(-15px);} 
} 

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes slideLefttFade {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideRightFade {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

