@import './font';
@import './variables.scss';

:root {
  display: flex;
  font-size: 14px;
  justify-content: center;
  background-color: $neutral-200;
}

body {
  font-family: Inter, san-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}