// Neutrals
$neutral-900: #1f2730;
$neutral-800: #28313b;
$neutral-700: #4C4637;
$neutral-600: #3f4e5f;
$neutral-500: #626b77;
$neutral-400: #a6a5a5;
$neutral-300: #b0b9bf;
$neutral-200: #d1dadf;
$neutral-100: #e2eaee;
$neutral-50: #f0f5f9;
$neutral-0: #ffffff;

// Blackks
$black-500: #0d0d0d;

// Grays
$gray-200: #383838;

// Blues
$blue-400: #1f2730;

// Greens
$green-100: #00c896;

// Shadows
$shadow-normal: rgba(136, 153, 166, 0.2) 0 0 15px,
  rgba(136, 153, 166, 0.15) 0 0 3px 1px;
$shadow-raised: rgba(136, 153, 166, 0.25) 0 0 15px,
  rgba(136, 153, 166, 0.15) 0 0 3px 1px;