@use '../../styles' as *;

.About {
  &_content {
    display: flex;
    margin: 56px 0 40px 0;

    @include breakpoint(md) {
      align-items: center;
      flex-direction: column;
      margin-top: 24px;
    }

    &_image {
      text-align: center;
      > img {
        @include breakpoint(lg) {
          width: 350px;
        }

        @include breakpoint(md) {
          width: 70%;
        }
      }
    }

    &_info {
      @include breakpoint(md) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &_title {
        display: grid;
        gap: 16px;

        @include breakpoint(md) {
          margin-top: 24px;
          text-align: center;
        }
      }

      &_subInfo {
        @include breakpoint(sm) {
          font-size: 14px ;
        }
      }

      &_personalInfo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 36px 0;
        row-gap: 16px;
        
        @include breakpoint(sm) {
          grid-template-columns: 1fr;
          padding: 24px 0;
        }
        
        &_detail {
         @include flex-start;

         &_name {
          margin-right: 8px;
         }
        }
      }

      &_summary {
        text-align: justify;

        @include breakpoint(md) {
          text-align: center;
        }

        @include breakpoint(sm) {
          font-size: 14px ;
        }
      }
    }

    &_icon {
      color: $green-100;
      font-size: 36px;
    }
  }

  &_skills {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 48px;
    row-gap: 24px;

    @include breakpoint(md) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include breakpoint(sm) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoint(xs) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
    }
  }

  &_span {
    color: $green-100;
    font-weight: 700;
  }

  &___animateImage {
    animation: slideRightFade 1s ease-in-out;
  }

  &___animateInfo {
    animation: slideLefttFade 1s ease-in-out;
  }
}