@use '../../styles' as *;

.SkillList {
  @include flex-center;
  flex-direction: column;

  &___animate {
    animation: zoomIn 1s ease-in-out;
  }

  &:hover {
    > img {
      transform: scale(1.2);
      box-shadow: $shadow-normal;
    }
  }
}





