@use '../../styles' as *;

.SkillList {
  &_container {
    @include flex-start;
  }

  &_bar {
    background: $gray-200;
    height: 8px;
    margin-right: 8px;
    position: relative;
    width: 100%;
  }

  &_progressBar {
    background: $green-100;
    position:absolute;
    height: 100%;
    width: 100%;
  }

  &___40 {
    width: 40%;
  }

  &___45 {
    width: 45%;
  }

  &___50 {
    width: 50%;
  }

  &___55 {
    width: 55%;
  }

  &___60 {
    width: 60%;
  }

  &___65 {
    width: 65%;
  }

  &___70 {
    width: 70%;
  }

  &___75 {
    width: 75%;
  }

  &___80 {
    width: 80%;
  }

  &___85 {
    width: 85%;
  }

  &___90 {
    width: 90%;
  }

  &___95 {
    width: 95%;
  }

  &___100 {
    width: 100%;
  }
}



