@use '../../styles' as *;

.Section {
  padding: 80px 0 60px;
  position: relative;
  width: 100%;

  @include breakpoint(sm) {
    padding: 80px 0 40px;
  }

  &_details {
    display: grid;
    gap: 32px;
    margin: 0 60px;

    @include breakpoint(xs) {
      gap: 24px;
    }
  }

  &_title {
    position: relative;

    @include breakpoint(md) {
      @include flex-center;
      flex-direction: column;
    }

    &_line {
      background-color: $green-100;
      height: 4px;
      width: 100px;
    }
  }

  &_subInfo {
    @include breakpoint(md) {
      text-align: center;
    }

    @include breakpoint(xs) {
      font-size: 14px !important;
    }
  }
}